@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf' ) format('truetype') url('Raleway-Bold.ttf');
}

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: white;
}

header{
    margin:0 3rem 0 3rem; 
}

main{
    margin:0 3rem 3rem 3rem;
}

#navbar{
    display: block;
    display: flex;
    float: right;
    list-style-type: none;
}

.navitem{
    padding: 2rem 0 2rem 4rem;


}

.navitem a{
    text-decoration: none;
}


.navitem :hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 2.5rem;
    
}


.nav_inscrire a{
    font-weight: 600;
    color: #0065FC;
}

.icon_reservia{
    display:block;
    display: flex;
    padding: 2rem 0 2rem 0;
}

header h1{
    font-weight: 600;
    font-size: x-large;
}

.sub_title{
    font-size: large;
}

.icon_recherche{
    border: 2px solid #F2F2F2;
    border-top-left-radius: 1rem; 
    border-bottom-left-radius: 1rem;
    background-color: #F2F2F2;
    width: 1rem;
    padding: 1.1rem 0.8rem 1rem 1rem;
    display: inline-block;
}

.text_recherche{
    border: 2px solid #F2F2F2;
    text-align: center;
    padding: 1.1rem 1rem 0.9rem 1rem;
    margin: 0 -0.38rem 0 -0.25rem;
    color : #000;
    font-weight: 600;
    font-size: medium;
    text-align: justify;

}

.button_recherche{
    border: 2px solid #0065FC;
    border-top-right-radius: 1rem; 
    border-bottom-right-radius: 1rem;
    padding: 1.1rem 1rem 0.9rem 1rem;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    font-size: medium;
}  

#list_filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 70%;
    font-weight: 600;
    font-size: medium;
    margin: 2rem 0 2rem 0;

}

.title_filtre{
    margin-left: -2.5rem; 
}

.item_filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 10rem; 
    padding: 1rem;
    height: 1rem;
}

.icon{
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 3rem;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    line-height: 48px !important;
    margin-left: -1.1rem;
    margin-right: 1rem;
}

#infos{
    display: flex;
}


.icon_i{
    color: #0065FC;
    border: 3px #F2F2F2 solid;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 15px;
    text-align: center;
    line-height: 25px !important;
    margin-right: 0.5rem;
}

#section1 p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#section2{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

#containeur_hebergement{
    border-radius: 25px;
    background-color: #F2F2F2;
    width: 60%;
    padding: 40px 40px 20px 40px;
}

#containeur_hebergement h2{
    font-size: x-large;
    font-weight: 600;
    width: 100%;

}

#container_card_accommodation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.carte_hebergement{
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 6px #dad9d9;
    width: 20rem;
    height: 15rem;
    padding: 4px;
    margin:0 0 2rem 0;
}

.carte_hebergement a{
    text-decoration: none;
    color: black;
}

.carte_hebergement img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.carte_hebergement figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0 0 0.5rem;



}

.carte_hebergement h3{
    font-size: large;
    font-weight: 600;
    margin: -0.01rem 0 -0.5rem 0;
}

.prices{/*à enlever*/
font-size: medium;
}

.carte_hebergement i{
    font-size: medium;
    margin-top: 0.5rem;
}

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #F2F2F2;
}

.viewmore{
    width: 100%;
    height: 2rem;
    font-size: large;
    font-weight: 600;
}

#pop_aside{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #F2F2F2;
    width: 25%;
    padding: 40px 40px 20px 40px;
}

.pop_title_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pop_aside h2{
    display: flex;
    align-self: flex-start;
    font-size: x-large;
    font-weight: 600;
}

.fa-chart-line{
    display: inline-block;
    float: right;
    width: 2rem;
    height: 2rem;
    font-size: 25px;
}

.pop_card{
    display: flex;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #dad9d9;
    background-color: white;
    width: 97%;
    height: 25%;
    padding: 4px;
    margin-bottom: 2rem;
    font-size: small;
}

.pop_card img{
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.pop_card_texte{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin: 0 3rem 1rem 1.5rem;
}

#pop_aside h3{
    font-size: large;
    font-weight: bold;
}

.pop_card_texte p{
    font-size: medium;
    margin-top: -1.5rem;
}

.icon_stars{
    align-self: flex-end;
    font-size: medium;
}

strong{
    font-weight: bold;
}

#section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.title_activites{
    width: 100%;
}

#section3 h3{
    font-size: medium;
    font-weight: bold;
    padding-left: 1rem;
}

.carte_activite_1{
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 6px #dad9d9;
    width: 20%;
    font-size: medium;
}

.carte_activite_1 img{
    width: 100%;
    height: 89%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#groupe2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.carte_activite_2{
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 6px #dad9d9;
    width: 100%;
    height: 50%;
    font-size: medium;
    margin-bottom: 3rem;
}

.carte_activite_2 img{
    width: 100%;
    height:11.5rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.carte_activite_3{
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 6px #dad9d9;
    width: 100%;
    height: 40%;
    font-size: medium;
}

.carte_activite_3 img{
    width: 100%;
    height: 8.5rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.carte_activite_4{
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 6px #dad9d9;
    width: 20%;
    font-size: medium;
}

.carte_activite_4 img{
    width: 100%;
    height: 89%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#groupe4{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.carte_activite_5{
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 6px #dad9d9;
    width: 100%;
    height: 40%;
    font-size: medium;
    margin-bottom: 3rem;
}

.carte_activite_5 img{
    width: 100%;
    height: 8.5rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.carte_activite_6{
    border-radius: 20px;
    background-color: white;
    box-shadow: 4px 4px 6px #dad9d9;
    width: 100%;
    height: 50%;
    font-size: medium;
}

.carte_activite_6 img{
    width: 100%;
    height: 11.5rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 3rem;
    margin: -0.5rem;
}

.footer_category{
    width: 30%;
    font-size: medium;
}

.footer_category h2{
    font-size: medium;
    font-weight: bold;
}

.footer_list{
    list-style-type: none;
    margin-left: -2.5rem;
    line-height: 30px;

}