@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf' ) format('truetype') url('Raleway-Bold.ttf');
}

body{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: white;
}

header{
    margin:0 3rem 0 3rem; 
}

main{
    margin:0 3rem 3rem 3rem;
}

#header{
    display: flex;
    justify-content: space-between;
}

#icon_navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header ul{
    display: flex;
    list-style-type: none;
}

.navitem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 7rem;
    
}

.navitem{
    text-decoration: none;
    color: black;
}

header li :hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    
    
}

.nav_inscrire{
    font-weight: bold;
    color: #0065FC;
}

.icon_reservia{
    display:block;
    padding: 2rem 0 2rem 0;
}

header h1{
    font-weight: 600;
    font-size: x-large;
}

.sub_title{
    font-size: large;
}

.icon_recherche{
    border: 2px solid #F2F2F2;
    border-top-left-radius: 1rem; 
    border-bottom-left-radius: 1rem;
    background-color: #F2F2F2;
    width: 1rem;
    padding: 1.1rem 0.8rem 1rem 1rem;
    display: inline-block;
}

#marseille_france{
    border: 2px solid #F2F2F2;
    text-align: center;
    padding: 1.1rem 1rem 0.9rem 1rem;
    margin: 0 -0.38rem 0 -0.25rem;
    color : #000;
    font-weight: 600;
    font-size: medium;
    text-align: justify;

}

.button_recherche{
    border: 2px solid #0065FC;
    border-top-right-radius: 1rem; 
    border-bottom-right-radius: 1rem;
    padding: 1.1rem 1rem 0.9rem 1rem;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    font-size: medium;
}  

.fa-search{
    display: none !important; 
}

#list_filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    width: 70%;
    font-weight: 600;
    font-size: medium;
    margin: 2rem 0 2rem 0;

}

#list_filtre a{
    text-decoration: none;
    color: black;
}

#list_filtre a:hover{
    font-size: large;
    color: #0065FC;
}


.title_filtre{
    margin-left: -2.5rem; 
}

.item_filtre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 10rem; 
    padding: 1rem;
    height: 1rem;
}

.icon{
    border: 2px solid #DEEBFF;
    border-radius: 50%;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 3rem;
    height: 3rem;
    font-size: 20px;
    text-align: center;
    line-height: 48px !important;
    margin-left: -1.1rem;
    margin-right: 1rem;
}

#info{
    display: flex;
}


.fa-info{
    color: #0065FC;
    border: 3px #F2F2F2 solid;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 15px;
    text-align: center;
    line-height: 25px !important;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

#section1 p{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#section2{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}

#container_hebergement{
    border-radius: 25px;
    background-color: #F2F2F2;
    width: 60%;
    padding: 40px 40px 20px 40px;
}

#container_hebergement h2{
    font-size: x-large;
    font-weight: 600;
    width: 100%;

}

#container_card_accommodation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.carte_hebergement{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 4px #dad9d9;
    width: 20rem;
    height: 15rem;
    padding: 4px;
    margin:0 0 2rem 0;
}

.carte_hebergement a{
    text-decoration: none;
    color: black;
}

.carte_hebergement img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.carte_hebergement figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 0 0 0.5rem;



}

.carte_hebergement h3{
    font-size: large;
    font-weight: 600;
    margin: -0.01rem 0 -0.5rem 0;
}

.prices{/*à enlever*/
font-size: medium;
}

.carte_hebergement i{
    font-size: medium;
    margin-top: 0.5rem;
}

.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #F2F2F2;
}

.viewmore{
    width: 100%;
    height: 2rem;
    font-size: large;
    font-weight: 600;
}

#pop_aside{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #F2F2F2;
    width: 25%;
    padding: 40px 40px 20px 40px;
}

.pop_title_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pop_aside h2{
    display: flex;
    align-self: flex-start;
    font-size: x-large;
    font-weight: 600;
}

.fa-chart-line{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 25px;
}

.pop_card{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 0 10px 4px #dad9d9;
    background-color: white;
    width: 97%;
    height: 25%;
    padding: 4px;
    margin-bottom: 2rem;
    font-size: small;
    text-decoration: none;
    color: black;
}

.pop_card img{
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.pop_card_texte{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin: 0 3rem 1rem 1.5rem;
}

#pop_aside h3{
    font-size: large;
    font-weight: bold;
}

.pop_card_texte p{
    font-size: medium;
    margin-top: -1.5rem;
}

.icon_stars{
    align-self: flex-end;
    font-size: medium;
}

strong{
    font-weight: bold;
}

#section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}

.title_activites{
    width: 100%;
}

#section3 h3{
    font-size: medium;
    font-weight: bold;
    padding-left: 1rem;
}

.carte_activite_1{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 4px #eee9e9;
    width: 20%;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.carte_activite_1 img{
    width: 100%;
    height: 89%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#groupe2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}

.carte_activite_2{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 4px #eee9e9;
    width: 100%;
    height: 50%;
    font-size: medium;
    margin-bottom: 3rem;
    text-decoration: none;
    color: black;
}

.carte_activite_2 img{
    width: 100%;
    height:11.5rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.carte_activite_3{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 4px #eee9e9;
    width: 100%;
    height: 40%;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.carte_activite_3 img{
    width: 100%;
    height: 8.5rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.carte_activite_4{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 4px #eee9e9;
    width: 20%;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.carte_activite_4 img{
    width: 100%;
    height: 89%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#groupe4{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.carte_activite_5{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 4px #eee9e9;
    width: 100%;
    height: 40%;
    font-size: medium;
    margin-bottom: 3rem;
    text-decoration: none;
    color: black;
}

.carte_activite_5 img{
    width: 100%;
    height: 8.5rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.carte_activite_6{
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 4px #eee9e9;
    width: 100%;
    height: 50%;
    font-size: medium;
    text-decoration: none;
    color: black;
}

.carte_activite_6 img{
    width: 100%;
    height: 11.5rem;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 3rem;
    margin: -0.5rem;
}

.footer_category{
    width: 30%;
    font-size: medium;
}

.footer_category h2{
    font-size: medium;
    font-weight: bold;
}

.footer_list{
    list-style-type: none;
    margin-left: -2.5rem;
    line-height: 30px;

}


@media screen and (min-device-width:320px) and (max-device-width:600px){
   
    html{
        width: 100%;
    }

    header{
        margin: 0 0 0 0;
    }

    main{
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }

    #header{
        flex-wrap: wrap;
    }

    .icon_reservia{
        width: 7rem;
        margin-left: 20px;
        margin-top: -20px;
    }

    header ul{
        display: flex;
        font-size: large;
    }

    header ul :nth-child(1){
        order: 2;
        width: 13.3rem;
        margin-left: -1.5rem;
    }

    header ul :nth-child(2){
        order: 3; 
    }

    header ul :nth-child(3){
        order: 1;
        position: absolute;
        top: 40px;
        right: 1px;
        
    }

    header li :hover{
        color: #0065FC;
        border-top: hidden;
        
    }

    .link_heb_act :hover{
        border-bottom: 5px solid #0065FC;
    }

    .nav_heb{
        border-bottom: 5px solid #F2F2F2;
        margin-top: -4rem;
        height: 4rem;
    }

    .nav_act{
        border-bottom: 5px solid #F2F2F2;
        margin-top: -4rem;
        height: 4rem;
    }

    .nav_inscrire{
        width:8rem !important;
        height: 3rem;
        justify-content: none !important;
        
    }

    .title_filtre{
        width: 100%;
        margin-left: 0;
    }

    header h1{
        width: 80%;
        font-size: 25px;
        padding-left: 1rem;
    }

    .sub_title{
        width: 90%;
        font-size: 20px;
        padding-left: 1rem;

    }

    #list_filtre{
        width: 90%;
        padding: 0;
    }

    form{
        margin-left: 1rem;
        margin-top: 2rem;
    }

    .icon_recherche {
        padding: 1.15rem 0.9rem 1.05rem 1.1rem;
        font-size: 20px;
    }

    #marseille_france {
        width: 16rem;
        font-size: 20px;
    }

    .button_recherche{
        border-radius: 15px;
        width: 3.7rem;
        height: 3.7rem;
        margin-left: -1rem;
    }

    .fa-search{
        display: initial !important;
        width: 3rem;
        height: 3rem;
        color: white;
        font-size: 20px;
    }

    .text_button_search{
        display: none;
    }

    #list_filtre{
        margin-left: 1rem;
        line-height: 50px;
    }

    .title_filtre{
        font-size: 20px;
    }

    .item_filtre{
        border: 3px solid #F2F2F2;
        margin-bottom: 1rem;
        font-size: 18px;
    }

    #info{
        margin-left: 1rem;
    }

    #section2{
        flex-direction: column-reverse;
        width: 26.7rem;
        margin-left: -0.5rem;
    }

    #pop_aside{
        border: 2px solid #F2F2F2;
        border-radius: 0;
        overflow: hidden;
        width: 87.5%;
        padding: 1.5rem;
    }

    .pop_card{
        height: 10rem;
        padding: 6px;
    }

    .pop_card_texte{
        margin: 0 2rem 1rem 1.5rem;
    }

    #container_hebergement{
        overflow: hidden;
        width: 87.5%;
        background-color: white;
        padding: 1.5rem;
    }

    .carte_hebergement{
        box-shadow: 0 0 10px 4px #eee9e9;
        width: 100%;
    }

    .viewmore{
        font-size: 20px;
        margin-bottom: 0;
    }

    #section3{
        flex-direction: column;
        width: 92%;
        margin-top: 0;
        margin-left: -8px;
        padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .carte_activite_1{
        width: 100%;
        height: 13rem;
        margin-bottom: 2rem;
    }
    
    .carte_activite_1 img{
        height: 70%;
    }

    #groupe2{
        width: 100%;
    }

    .carte_activite_2{
        width: 100%;
        height: 13rem;
        margin-bottom: 2rem;
    }
    
    .carte_activite_2 img{
        height: 70%;
    }

    .carte_activite_3{
        width: 100%;
        height: 13rem;
        margin-bottom: 2rem;
    }
    
    .carte_activite_3 img{
        height: 70%;
    }
    
    .carte_activite_4{
        width: 100%;
        height: 13rem;
        margin-bottom: 2rem;
    }
    
    .carte_activite_4 img{
        height: 70%;
    }

    #groupe4{
        width: 100%;
    }

    .carte_activite_5{
        width: 100%;
        height: 13rem;
        margin-bottom: 2rem;
    }
    
    .carte_activite_5 img{
        height: 70%;
    }

    .carte_activite_6{
        width: 100%;
        height: 13rem;
        margin-bottom: 2rem;
    }
    
    .carte_activite_6 img{
        height: 70%;
    }

    footer{
        flex-direction: column;
        padding: 2rem 2rem 2rem 2rem;
        
    }

    .footer_category{
        width: auto;
    }


}

@media screen and (min-device-width:600px) and (max-device-width:1300px){

    #list_filtre{
        margin-left: 1rem;
        line-height: 50px;
    }

    .title_filtre{
        font-size: 20px;
    }

    .item_filtre{
        border: 3px solid #F2F2F2;
        margin-bottom: 1rem;
        font-size: 18px;
    }

    #section2{
        flex-direction: column;
    }

    #container_hebergement{
        width: 90%;
        margin-bottom: 3rem;
    }

    .pop_title_icon{
        width: 100%;
    }

    #pop_aside{
        flex-wrap: wrap;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
    }

    .pop_card{
        width: 24rem;
        height: 10rem;
    }

}